body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}
.modal-content img{
    width: 100%;
}

.overlay {
    background: #070916;
}
.modal-content {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    border-radius: 3px;
}
.close-modal{
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 24px;
    color:rgb(255, 0, 0);
}
.close-modal:hover{
    cursor: pointer;
}



@media(max-width:768px){
    .modal-content {
        width: 100%;   
    }
    .close-modal{
        right: 10px;
        top: 10px;
    }
}