.nav{
    position: sticky;
    width: 100%;
    height: 70px;
    background-color: #070916;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: background-color 2s ease;
}
.scrolled{
    background-color: #070916;
    position: fixed;
    height: min-content;
}
.nav img{
    height: 45px;
}
.nav ul{
    list-style: none;
    position: relative;
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
}


.nav ul li{
    position: relative;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav ul li a{
    color:rgb(237, 237, 237);
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    font-size: 24px;
    flex-direction: column;
    transition: all .3s ease;
}
.nav ul li .active a{
    color:White;
}
.nav ul .indicator {
    position: absolute;
    width: 70px;
    height: 100%;
    display: flex;
    transition: all .3s ease;

}
.nav ul .indicator::before{
    content: '';
    width: 40px;
    height:8px;
    background-color: #fff;
    position: absolute;
    left:15px;
    top:0.5px;
    right: 5px;
    border-radius:10px;
}
.nav ul .indicator::after{
    display: flex;
    align-items: end;
    justify-content: center;
    content:attr(cite);
    color:white;
    position: absolute;
    font-size: 14px;
    top:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,  rgba(255,255,255,.5), rgba(255,255,255,.1));
    clip-path: polygon(20% 0, 80% 0, 100% 100%, 0% 100%);
}

@media(max-width:768px){
 
    .nav img{
        height: 40px
    }
    
}